@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

//Fonts
$principal-font: Poppins;

$primary-color: #05362f;
$secondary-color: #d8fffb;
$dark-color: #000000;
$light-color: #ffffff;
$green-light: #4ed5c3;
$transparency: rgba(255, 255, 255, 0.1);
$over-image: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.2) 0%,
  rgba(0, 0, 0, 0.35) 100%
);

$fs-small: 12;
$fs-regular: 18;
$fs-big: 24;
$fs-huge: 36;

$space-xs: 5;
$space-small: 15;
$space-regular: 30;
$space-big: 40;
$space-xl: 60;
$space-huge: 100;

//Font Size in Rem

$base-size: 16;

//Function to convert px value into rem
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

.flex-y {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-x {
  display: flex;
  align-items: center;
}

// @media screen and (max-width: 1400px)
// @media screen and (max-width: 1020px)
// @media screen and (max-width: 768px)
// @media screen and (max-width: 425px)
