@import '_base.scss';

body {
  background-size: cover;
  overflow: visible;
  object-fit: cover;
  margin: 0;
}

.background-1 {
  background-image: url(./img/background1.jpg);
}

.background-2 {
  background-image: url(./img/background2.jpg);
}

.background-3 {
  background-image: url(./img/background3.jpg);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  margin: size($space-regular);

  a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      color: white;
      transition: all 0.3s ease;
    }
  }
}

.upload {
  @extend .flex-y;
  height: 75vh;

  &__form {
    position: relative;

    &::before {
      content: url(./img/cloud.svg);
      height: size(60);
      background-color: $transparency;
      position: absolute;
      bottom: 0;
      border: black 1px dashed;
      z-index: -1;
      padding: 40%;
    }
  }

  &__files {
    position: relative;
    &::-webkit-file-upload-button {
      visibility: hidden;
      height: size($space-xl);
    }
    &::before {
      content: 'Upload your files';
      background-color: $primary-color;
      color: white;
      font-family: 'Poppins';
      font-size: size($fs-regular);
      padding: size($space-xl);
      position: absolute;
      left: 0;
      right: 0;
      top: -50px;
    }
  }

  p {
    margin-top: 0;
    font-size: $fs-small;
  }
}

.footer {
  @extend .flex-y;
  height: 10vh;

  &__social {
    @extend .flex-x;
    align-items: center;
    justify-content: center;
  }
}
